body {
  margin: 0;
  background-color: rgb(248, 188, 110);
}

.container {
  margin: auto;
  max-width: 1000px;
}

.wrapper {
  padding: 30px;
  margin-top: 60px;
}

.contentBox {
  margin: auto;
  max-width: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inputWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputWrapper > div > p {
  color: rgb(248, 188, 110);
}

.inputBox {
  width: 380px;
  border: none;
  border-bottom: 1px solid rgb(175, 128, 67);
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.submitBtn {
  width: 70px;
  height: 30px;
  margin-bottom: 24px;
  background-color: rgb(117, 148, 44);
  color: #fff;
  border: none;
  border-radius: 2px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.removeBtn {
  background-color: rgb(249, 43, 43);
  border: none;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.resetBtn {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(117, 148, 44);
  color: #fff;
  border: none;
  border-radius: 2px;
}

.itemList {
  display: flex;
  border: 1px solid rgb(219, 219, 219);
  margin-bottom: 20px;
  padding: 3px 10px;
  border-radius: 4px;
  align-items: center;
}
.itemList > p {
  flex: 1;
}
